.logout {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.title {
  margin: 2% 35% 1% 35%;
}

.rules {
  margin: 2% 35% 1% 35%;

}

a {
  color: #069;
}

.material-symbols-outlined {
  font-size:20px;
}

.buttons{
  vertical-align: middle;
}

#navBtn{
  cursor: pointer;
}

#modal-form{
  margin: 1% 5% 5% 5%;
}